@import '../../../scss/variables.scss';

.login {
    max-width: 300px;
    margin: 0 auto;
    background: white;
    padding: 50px 40px;
    border-radius: 15px;

    &__title {
        text-align: center;
        margin-bottom: 60px;
        font-weight: 600;
        font-size: 25px;
    }
}
