@import '../../../scss/variables.scss';

.registration {
    max-width: 300px;
    margin: 0 auto;
    background: white;
    padding: 50px 40px;
    border-radius: 15px;
    text-align: center;

    &__title {
        text-align: center;
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 25px;
    }

    &__icon {
        font-size: 70px;
        color: $form-color;
        margin-bottom: 30px;
    }
}
