@import '../../scss/variables.scss';

.header {
    background-color: $bg-header;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        margin-bottom: 100px;
    }

    &__links {
        display: flex;
        gap: 20px;
    }

    &__link {
        font-weight: 600;
        color: white;
        transition: opacity 0.3s linear;
        background: $btn-color;
        padding: 10px;
        border-radius: 10px;
        text-decoration: none;

        &:hover {
            opacity: 0.3;
        }
    }

    &__logo {
        text-decoration: none;
    }

    &__btn-logout {
        font-weight: 600;
        color: white;
        transition: opacity 0.3s linear;
        background: $btn-color;
        padding: 10px;
        border-radius: 10px;
        font-size: 16px;
        background: #d60d0d;

        &:hover {
            opacity: 0.3;
        }
    }
    &__btn-create {
        font-weight: 600;
        color: white;
        transition: opacity 0.3s linear;
        background: $btn-color;
        padding: 10px;
        border-radius: 10px;
        font-size: 16px;
        background: green;

        &:hover {
            opacity: 0.3;
        }
    }
}
//MAIN

.main {
    &__inner {
        display: flex;
        justify-content: space-between;
    }

    .sidebar {
        width: 300px;
    }

    .commercial {
        margin-bottom: 50px;
        background: white;
        &__img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
        }

        &__info {
            padding: 10px;
            text-align: left;
            line-height: 25px;
        }
    }
}
